.App {
  text-align: center;
}

/* Login form style */
.form {
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
  background: white;
  padding: 30px;
  margin-top: 60px;
}

.inputField{
  margin:20px;
}
